@import "app/styles/variables";

.main__productPage {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: $space-xl;
  padding-bottom: 96px;
}

.related__title {
  font-size: 32px;
}

.related__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  margin-top: $space-l;
}

.productPage {
  &__img {
    width: 600px;
    height: 600px;
  }

  &__info {
    display: flex;
    margin-top: $space-xl;
    gap: $space-xl;
  }

  &__related {
    margin-top: $space-xl;
  }
}

.info {
  &__description {
    margin-top: $space-m;
  }

  &__price {
    margin-top: 72px;
  }

  &__buttons {
    display: flex;
    gap: $space-xl;
    margin-top: $space-xl;
  }
}
