@import "variables";
@import "app/styles/themes/light";
@import "app/styles/themes/dark";
@import "Roboto/fonts.css";

html,
body {
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: var(--page-bg);
  transition: 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}
