$border-radius: 0;
$brand: #518581;
$brand-hover: #86aaa7;
$brand-active: #487773;
$brand-disabled: #d9d9d9;

$button-primary-text-active: #ffffff;
$button-primary-text-disabled: #ffffff;
$button-primary-text-hover: #ffffff;
$button-primary-text: #ffffff;

$text-primary: #000000;
$text-secondary: #afadb5;
$text-accent: #518581;

$card-bg: #ffffff;
$card-img-bg: #d9d9d9;

$checkbox-bg: #ffffff;
$checkbox-border: #ffffff;

$input-bg: #ffffff;
$input-border: #ffffff;
$input-placeholder: #afadb5;

$page-bg: #eeeeee;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
