$border-radius: 0;
$brand: #518581;
$brand-hover: #86AAA7;
$brand-active: #487773;
$brand-disabled: #D9D9D9;



$button-primary-text-active: #FFFFFF;
$button-primary-text-disabled: #FFFFFF;
$button-primary-text-hover: #FFFFFF;
$button-primary-text: #FFFFFF;

$text-primary: #000000;
$text-secondary: #AFADB5;
$text-accent: #518581;

$card-bg: #FFFFFF;
$card-img-bg: #D9D9D9;

$checkbox-bg: #FFFFFF;
$checkbox-border: #FFFFFF;

$input-bg: #FFFFFF;
$input-border: #FFFFFF;
$input-placeholder: #AFADB5;

$page-bg: #eeeeee;


$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
