.cart__colors {
  stroke: var(--svg-color);
  transition: 0.3s ease;
}

.cart__container {
  position: relative;
  display: inline-block;
}

.cart__count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--brand);
  transition: 0.3s ease;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
