@import "app/styles/variables";
@import "app/styles/breakpoints";

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.text {
  &-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;

    @include media-max(md) {
      font-size: 36px;
      line-height: 40px;
    }

    @include media-max(sm) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &-button {
    font-size: 18px;
    line-height: 18px;

    @include media-max(md) {
      font-size: 16px;
      line-height: 16px;
    }

    @include media-max(sm) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &-p-20 {
    font-size: 20px;
    line-height: 24px;

    @include media-max(md) {
      font-size: 18px;
      line-height: 22px;
    }

    @include media-max(sm) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &-p-18 {
    font-size: 18px;
    line-height: 22px;

    @include media-max(md) {
      font-size: 16px;
      line-height: 20px;
    }

    @include media-max(sm) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &-p-16 {
    font-size: 16px;
    line-height: 20px;

    @include media-max(md) {
      font-size: 14px;
      line-height: 18px;
    }

    @include media-max(sm) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &-p-14 {
    font-size: 14px;
    line-height: 18px;

    @include media-max(md) {
      font-size: 12px;
      line-height: 16px;
    }

    @include media-max(sm) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &-normal {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-bold {
    font-weight: 700;
  }

  &-color-primary {
    color: var(--text-primary);
    transition: all 0.25s ease;
  }

  &-color-secondary {
    color: var(--text-secondary);
    transition: 0.25s ease;
  }

  &-color-accent {
    color: var(--text-accent);
    transition: 0.25s ease;
  }
}

@for $i from 1 through 5 {
  .line-clamp-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
