@import "app/styles/variables";

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.text {
  &-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
  }

  &-button {
    font-size: 18px;
    line-height: 18px;
  }

  &-p-20 {
    font-size: 20px;
    line-height: 24px;
  }

  &-p-18 {
    font-size: 18px;
    line-height: 22px;
  }

  &-p-16 {
    font-size: 16px;
    line-height: 20px;
  }

  &-p-14 {
    font-size: 14px;
    line-height: 18px;
  }

  &-normal {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-bold {
    font-weight: 700;
  }

  &-color-primary {
    color: $text-primary;
  }

  &-color-secondary {
    color: $text-secondary;
  }

  &-color-accent {
    color: $text-accent;
  }
}

@for $i from 1 through 5 {
  .line-clamp-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
