@import "app/styles/variables";

.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input {
  flex: 1;
  padding: $space-m $space-xs;
  font-size: 16px;
  background-color: $input-bg;
  border: 1px solid $input-border;
  border-radius: $border-radius;
  outline: none;

  &:focus {
    border: 1px solid $brand;
  }

  &:disabled {
    color: #00000033;
    cursor: default;
  }

  &::placeholder {
    color: $input-placeholder;
  }
}

.iconContainer {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
}
