@import "app/styles/variables";

.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input {
  flex: 1;
  padding: $space-m $space-xs;
  font-size: 16px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text-primary);
  transition: 0.3s ease;
  border-radius: $border-radius;
  outline: none;

  &:focus {
    border: 1px solid var(--brand);
    transition: 0.3s ease;
  }

  &:disabled {
    color: var(--input-disabled);
    transition: 0.3s ease;
    cursor: default;
  }

  &::placeholder {
    color: var(--input-placeholder);
    transition: 0.3s ease;
  }
}

.iconContainer {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
}
