@import 'app/styles/variables';

.main__products {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 $space-xxs $space-xl;
}

.skeletonContainer {
  margin-top: $space-l;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.products__hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 48px;
}

.hero__text {
  display: flex;
  margin-top: 190px;
  flex-direction: column;
  width: 653px;
  height: 128px;
  gap: $space-m;
}

.catalog {
  &__block {
    margin-top: $space-xl;
  }

  &__tools {
    display: flex;
    flex-direction: column;
    gap: $space-m;
  }

  &__filter {
    width: 300px;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 266px;
  }

  &__wrapper {
    margin-top: $space-l;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}

.stats__title {
  font-size: 32px;
}