@import "app/styles/variables";

.goBack {
  &__link {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: $space-xl;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: $space-xs;
  }

  &__arrow {
    stroke: var(--svg-color);
    transition: 0.3s;
  }
}
