@import "app/styles/variables";

.goBack__link {
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: $space-xl;
}

.goBack__container {
  display: flex;
  align-items: center;
  gap: $space-xs;
}