@import "../../../app/styles/variables";

.dropdown {
  display: inline-block;
  position: relative;

  &__options {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 10px 0px #00000040;
    width: 364px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    margin-top: $space-xxs;
  }

  &__option {
    padding: $space-s $space-xs;
    cursor: pointer;

    &:hover {
      color: $text-secondary;
    }

    &_selected {
      color: $brand;
    }
  }
}
