:root {
  --brand: #518581;
  --brand-hover: #86aaa7;
  --brand-active: #487773;
  --brand-disabled: #d9d9d9;

  --button-primary-text-active: #ffffff;
  --button-primary-text-disabled: #ffffff;
  --button-primary-text-hover: #ffffff;
  --button-primary-text: #ffffff;

  --text-primary: #000000;
  --text-secondary: #afadb5;
  --text-accent: #518581;

  --dropdown-options-bg: #ffffff;

  --card-bg: #ffffff;
  --card-img-bg: #d9d9d9;
  --card-box-shadow: #00000040;

  --checkbox-bg: #ffffff;
  --checkbox-border: #ffffff;
  --checkbox-disabled: #ffffff80;

  --input-bg: #ffffff;
  --input-border: #ffffff;
  --input-placeholder: #afadb5;
  --input-disabled: #00000033;

  --header-bg: #ffffff;
  --header-down-border: #f3f3f3;
  --svg-color: #151411;
  --page-bg: #eeeeee;
}
