@import "app/styles/variables";

.header {
  border-bottom: 2px solid #f3f3f3;

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $space-xl 0;
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    gap: $space-l;
  }

  &__item {
    &:not(:first-of-type) {
      margin-left: $space-xl;
    }

    &_selected {
      border-bottom: 3px solid $brand;
      margin-bottom: -36px;
    }
  }

  &__tools {
    display: flex;
    list-style: none;
    gap: $space-l;
  }

  &__tool {
  }
}
