@import "app/styles/variables";
@import "app/styles/breakpoints";

.header {
  position: sticky;
  top: -100px;
  background-color: var(--header-bg);
  border-bottom: 2px solid var(--header-down-border);
  transition: 0.25s ease;
  padding: 0 $space-xl;
  z-index: 100;

  &_hovered {
    top: 0;
  }
}
