@import "app/styles/variables";
@import "app/styles/breakpoints";

.dropdown {
  display: inline-block;
  position: relative;

  &__options {
    position: absolute;
    background-color: var(--dropdown-options-bg);
    box-shadow: 0px 4px 10px 0px #00000040;
    width: 364px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    margin-top: $space-xxs;

    @include media-max(xs) {
      width: 270px;
    }
  }

  &__option {
    color: var(--text-primary);
    padding: $space-s $space-xs;
    cursor: pointer;

    &:hover {
      color: var(--text-secondary);
    }

    &_selected {
      color: var(--brand);
    }
  }
}
