@import "app/styles/variables";

.icon {
  &_primary {
    fill: var(--text-primary);
    stroke: var(--text-primary);
  }

  &_secondary {
    fill: var(--text-secondary);
    stroke: var(--text-secondary);
  }

  &_accent {
    fill: var(--text-accent);
    stroke: var(--text-accent);
  }
}
