@import 'app/styles/variables';

.icon_primary {
  fill: $text-primary;
  stroke: $text-primary;
}

.icon_secondary {
  fill: $text-secondary;
  stroke: $text-secondary;
}

.icon_accent {
  fill: $text-accent;
  stroke: $text-accent;
}