@import "app/styles/variables";

.input {
  display: none;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $checkbox-bg;
  border: 1px solid $checkbox-border;
  padding: 0;
  width: 40px;
  height: 40px;

  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &:hover {
    border-color: $brand;
  }

  &_disabled {
    border: none;
    cursor: default;
    background-color: #ffffff80;
  }
}

.icon__wrapper {
  width: 40px;
  height: 40px;
}
